:root {
  --background-color: hsl(219, 39%, 13%);
  --background-color: hsl(227, 100%, 98%);
  --background-color-alt: hsl(222, 41%, 20%);
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 100%);
  --tertiary-color: hsl(0, 0%, 100%);
  --gray-color: hsl(0, 0%, 75%);
}

$media-tablet: 768px;
$media-mobile: 576px;
$media-desktop: 1150px;
